body {
    font-family: 'Poppins', sans-serif;
    color: #0c0c0c; /* Replace with the identified color */
    background-color: #ffffff; /* Replace with the identified color */
  }
  
  /* Example Color Usage */
  .header_section {
    background-color: #1a1a2e; /* Dark Blue */
  }
  
  .custom_nav-container .navbar-nav .nav-item .nav-link {
    color: #f0f0f0; /* Light Gray */
  }
  
  .btn-box a {
    background-color: #ff9505; /* Amber/Orange */
    color: #ffffff;
  }
  
  .btn-box a:hover {
    background-color: #ffffff;
    color: #ff9505; /* Amber/Orange */
    border: 1px solid #ff9505;
  }

  

  /* Rose Gold: #B76E79
Champagne: #F7E7CE
Emerald Green: #50C878
Royal Blue: #4169E1
Amethyst: #9966CC
Cranberry Red: #B53389
Midnight Blue: #191970
Pearl White: #F5F5F5
Burnt Sienna: #E97451
Sage Green: #9DC183
Dusty Rose: #DCAE96
Deep Teal: #003333
Mauve: #E0B0FF
Goldenrod: #DAA520
Slate Gray: #708090 */

  .colors{
    color: #B76E79;
    color: #F7E7CE;
    color: #50C878;
    color: #4169E1;
    color: #9966CC;
    color: #B53389;
    color: #191970;
    color: #F5F5F5;
    color: #E97451;
    color: #9DC183;
    color: #DCAE96;
    color: #003333;
    color: #E0B0FF;
    color: #DAA520;
    color: #708090;
  }

  /* https://youtu.be/DLNxthS-fiA?si=kLN30W14rwi6Cc97 */
  